<p-toast></p-toast>
<div class="card">
    <h3>{{isEditar?'Editar Cotización':'Nuevo Cotización'}}</h3>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submit()">
        <div class="card p-fluid">

            <app-dropdown-group controlName="moneda" optionLabel="nombre" [lista]="monedas"
            placeholder="Elija la Moneda" labelText="Moneda"></app-dropdown-group>

            <app-dropdown-group controlName="tipo" optionLabel="nombre" [lista]="tipos"
            placeholder="Elija el tipo" labelText="Tipo"></app-dropdown-group>

            <app-number-group labelText="Cotización" controlName="valor"></app-number-group>

        </div>
        <app-button-group [formGroup]="miFormulario" (cancelarEvent)="cancelar()"></app-button-group>
    </form>
</div>
