<ng-container [formGroup]="miFormulario">
    <div class="field">
        <label for="{{ controlName }}">{{ labelText }}</label>
        <p-inputNumber inputId="{{ inputId }}" mode="{{ mode }}" currency="{{ currency }}" locale="{{ locale }}"
            formControlName="{{ controlName }}">
        </p-inputNumber>
        <div [style.color]="'red'" [style.margin-top.px]="5" *ngIf="control!.hasError('required')">
            No puede estar vacio
        </div>
        <ng-content></ng-content>
    </div>
</ng-container>