<ng-container [formGroup]="miFormulario">
    <div class="field">
        <label for="{{ controlName }}">{{ labelText }}</label>
        <p-dropdown formControlName="{{ controlName }}" [options]="lista" optionLabel="{{optionLabel}}"
            placeholder="{{ placeholder }}" (onChange)="onValueChange($event)" p-dropdown-clearable>
        </p-dropdown>
       <!-- <p-dropdown formControlName="{{ controlName }}" [options]="lista" optionLabel="{{optionLabel}}"></p-dropdown> -->
    </div>
    <div [style.color]="'red'" [style.margin-top.px]="5" *ngIf="control!.hasError('required')">
        No puede estar vacio
    </div>
    <ng-content></ng-content>
</ng-container>