<ng-container [formGroup]="miFormulario">
    <div class="field">
        <label for="{{ controlName }}">{{ labelText }}</label>
        <p-password id="{{ controlName }}"  
        placeholder="Password" formControlName="{{ controlName }}"
        [toggleMask]="true" styleClass="mb-5">
        </p-password>
        <div [style.color]="'red'" [style.margin-top.px]="5" *ngIf="control!.hasError('required')">
            No puede estar vacio
        </div>
        <ng-content></ng-content>
    </div> 
</ng-container>



